<?xml version="1.0"?>
<config>
    <modules>
        <Canalweb_Conversaa>
            <version>0.0.1</version>
        </Canalweb_Conversaa>
    </modules>
    <global>
        <models>
            <conversaa>
                <class>Canalweb_Conversaa_Model</class>
            </conversaa>
        </models>
        <helpers>
            <conversaa>
                <class>Canalweb_Conversaa_Helper</class>
            </conversaa>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <conversaa>
                    <file>canalweb_conversaa.xml</file>
                </conversaa>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <conversaa_addJs>
                        <type>singleton</type>
                        <class>conversaa/observer</class>
                        <method>addJavascriptBlock</method>
                    </conversaa_addJs>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_front_init_before>
                <observers>
                    <add_composer_autoloader>
                        <type>singleton</type>
                        <class>Flux_Flux_Model_Observer</class>
                        <method>addComposerAutoloader</method>
                    </add_composer_autoloader>
                </observers>
            </controller_front_init_before>
        </events>
        <routers>
           <conversaa>
               <use>standard</use>
               <args>
                   <module>Canalweb_Conversaa</module>
                   <frontName>conversaa</frontName>
               </args>
           </conversaa>
       </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <conversaa translate="title">
                                            <title>Conversaa</title>
                                        </conversaa>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Canalweb_Conversaadmin.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
</config>
